@import 'breakpoints';

.about-page {
  padding-top: 7rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {
    
    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      
      @include breakpoint-small-down {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }
    }
  }

  .box {
    display: flex;
    align-items:center;
    img{
      width:25%;
    }
    p{
      padding-left: 1rem !important ;
    }
  }
}