@import 'breakpoints';

.contact-page {
  padding-top: 2rem;
  //min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  .content-grid {
    flex: auto;
    width:60%;
    margin:auto;
    @include breakpoint-small-down {
      width:80%;
    }
    @include breakpoint-xlarge-down {
      width:90%;
    }
  }

  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { 
    color: #555555;
  }
  input:-moz-placeholder { 
    color: #555555;
  }
  input::-moz-placeholder { 
    color: #555555;
  }
  input:-ms-input-placeholder { 
    color: #555555;
  }
  
  textarea::-webkit-input-placeholder { 
    color: #555555;
  }
  textarea:-moz-placeholder { 
    color: #555555;
  }
  textarea::-moz-placeholder { 
    color: #555555;
  }
  textarea:-ms-input-placeholder { 
    color: #555555;
  }
  
  button {
      outline: none !important;
      border: none;
      background: transparent;
      &:hover {
        cursor: pointer;
    }
  }
  
  iframe {
      border: none !important;
  }
  
  .contact-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    background-color: #f8f3f3;
  }
  
  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 5px;
    margin-bottom: 65px;
    @include breakpoint-small-down {
     margin-bottom: 5%;
    }
    @include breakpoint-medium-down {
      margin-bottom: 5%;
     }
  }
  
  .rs1-wrap-input {
    width: calc((100% - 30px) / 2);
  }
  
  .label-input {
    //font-size: 15px;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 10px;
  }
  
  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 5px;
  }
  
  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #6a0105;
  }
  
  input.input {
    height: 40px;
  }
  
  
  textarea.input {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  
  .input:focus + .focus-input::before {
    width: 100%;
  }
  
  .has-val.input + .focus-input::before {
    width: 100%;
  }
  
  .container-contact-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: -25px;
  }
  
  .contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    color: #6a0105;
    border: 2px solid #6a0105;
    padding: 15px 32px;
    margin: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 1.5rem;

    &:hover {
      background-color: #6a0105;
      color: white;
    }
    @include breakpoint-small-down {
      width: 50%;
      margin: 0 0 25px 25%;
      margin-top:20%;
      display: block;
    }

    @include breakpoint-xlarge-down {
      
      margin: 0 0 25px 40%;
      margin-top:0;
      display: block;
    }
  }
  
 
  @include breakpoint-large-down {
    .wrap-contact {
      padding: 82px 80px 33px 80px;
    }
  }
  
  @include breakpoint-medium-down {
    .rs1-wrap-input {
      width: 100%;
    }
  }
  
  @include breakpoint-small-down {
    .wrap-contact {
      padding: 82px 15px 33px 15px;
    }
    .contact-page, .info-box{
 display:block;
    }
    .contact-page, .contact-info{
     width:0;
    }
    .contact-form .justify-content-md-center{
      width:100%;
    }
  }

  @include breakpoint-xlarge-down {
    .wrap-contact {
      padding: 82px 15px 33px 15px;
    }
    .contact-page, .info-box{
 display:block;
    }
    .contact-page, .contact-info{
     width:0;
    }
    .contact-form .justify-content-md-center{
      width:100%;
    }
  }
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @include breakpoint-large-down {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .info-box{
    width:100%;
    padding-bottom: 5%;
    display:flex;
    @include breakpoint-small-down {
      display: block;
    }
    @include breakpoint-xlarge-down {
      display: block;
    }
  }

  .contact-info{
      width:50%;
      @include breakpoint-small-down {
        width: 100%;
      }

      @include breakpoint-xlarge-down {
        width: 100%;
      }
  }

  .promo{
      padding-left: 5%;
  }
  .was-validated {
    .form-control {
      &:valid~.invalid-feedback {
       display: none;      
      }  
    }
  }
  .invalid-feedback{
    display:contents;
    color:red;
  }
  .alert-success{
    background:rgba(54, 181, 24, 0.42);
    text-align: center;
    padding: 10px;
    top: 15%;
    position: absolute;
    margin: 0 25% 0 25%;
    z-index: 1000;
    position: fixed;
    width:50%;
    color: #000;
  }
}
