@import 'breakpoints';

nav {
  position: absolute;
  // top: 2rem;
  padding-top: 10px;  
  width: 100%;
  margin:0 auto;
  height: 3rem;
  // display: flex;
  align-items: center;
  // justify-content: flex-end;

  @include breakpoint-small-down {
    height: 4rem;
  }
  
  .menu {
    margin-right: 1rem;
    display: -webkit-inline-box;
    // display: flex;
    // flex: 1;
    // justify-content: flex-end;

    &-item {
      padding: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 2px solid transparent;
      &:hover{
        cursor: pointer;
        color:#6a0105;
      }
      &:active{
        cursor: pointer;
        color:#6a0105;
      }
    }
  }
}

.logo{
  flex: 1 1;
}
.img-banner{
  //vertical-align: text-top;
  max-width: 65%;
  margin: auto;
  padding-top:50px;
}
