@import 'breakpoints';

nav {
  position: absolute;
  // top: 2rem;
  padding-top: 10px;  
  width: 100%;
  margin:0 auto;
  height: 3rem;
  // display: flex;
  align-items: center;
  // justify-content: flex-end;

  @include breakpoint-small-down {
    height: 4rem;
  }
  
  .menu {
    //margin-right: 1rem;
    //display: -webkit-inline-box;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index:1;
    
    &-item {
      padding: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 2px solid transparent;
      &:hover{
        cursor: pointer;
        color:#6a0105;
      }
      &:active{
        cursor: pointer;
        color:#6a0105;
      }
    }
  }
}

.logo{
  flex: 1 1;
}
.img-banner{
  //vertical-align: text-top;
  max-width: 65%;
  margin: auto;
  padding-top:50px;
}
