@import 'breakpoints';

.project-page {
  padding-top: 7rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  .content-grid {
    flex: auto;

    .wrap-bloc{
      display: flex;
      text-align: center;
    }

    .bloc1{
      float:left;
      img{
        width:50%;
        margin: 10%
      }
    }
    .bloc2{
     img{
       width:50%;
       margin: 10%
     }
      
    }
    .bloc3{
      float:left;
      img{
        width:50%;
        margin: 10%
      }
    }
    .bloc4{
      img{
        width:50%;
        margin: 10%
      }
    }
  }

  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    float: right;



    @include breakpoint-small-down {
      flex-direction: column;
      align-items: center;
    }
  }
  .more_link{
  float: right;
  background-color: #6a0105;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  margin: 60px;
  padding: 10px;
  border-radius: 5px;
      &:hover{
        background-color: #333;
      }
}


  .my-icon {
    vertical-align: middle;
  }

}